//colors
$black: rgba(0, 0, 0, 1);
$color_mountain_mist_approx: rgba(153, 153, 153, 1);
$white: rgba(255, 255, 255, 1);
$color_alto_approx: rgba(221, 221, 221, 1);
$color_surfie_green_approx: rgba(13, 116, 124, 1);
$color_alizarin_crimson_approx: rgba(217, 36, 50, 1);
$color_celeste_approx: rgba(204, 204, 204, 1);
$color_lucky_approx: rgba(182, 153, 28, 1);
$color_ronchi_approx: rgba(229, 201, 83, 1);
$color_tundora_approx: rgba(68, 68, 68, 1);
$black_50: rgba(0, 0, 0, 0.5);
$yellow: rgba(255, 255, 0, 1);
$silver: rgba(192, 192, 192, 1);
$color_blue_chill_approx: rgba(16, 138, 147, 1);
$color_chenin_approx: rgba(232, 208, 105, 1);
$color_gold_tips_approx: rgba(222, 187, 39, 1);
$color_pink_swan_approx: rgba(187, 187, 187, 1);
$white_60: rgba(255, 255, 255, 0.6);
$color_mexican_red_approx: rgba(173, 29, 40, 1);
$color_merlot_approx: rgba(129, 22, 30, 1);
$color_mercury_approx: rgba(230, 230, 230, 1);
$color_maroon_flush_approx: rgba(199, 37, 78, 1);
$color_fantasy_approx: rgba(249, 242, 244, 1);
$color_wild_sand_approx: rgba(245, 245, 245, 1);
$color_eastern_blue_approx: rgba(19, 160, 170, 1);
$color_blue_stone_approx: rgba(11, 95, 101, 1);
$color_apple_approx: rgba(72, 202, 59, 1);
$color_hot_cinnamon_approx: rgba(223, 110, 30, 1);
$color_piper_approx: rgba(201, 99, 27, 1);
$color_hokey_pokey_approx: rgba(204, 171, 31, 1);
$black_7.5: rgba(0, 0, 0, 0.075);
$color_cornflower_blue_approx: rgba(102, 175, 233, 1);
$color_cornflower_blue_60_approx: rgba(102, 175, 233, 0.6);
$black_12.5: rgba(0, 0, 0, 0.125);
$color_pumice_approx: rgba(201, 201, 201, 1);
$color_silver_approx: rgba(190, 190, 190, 1);
$color_falu_red_approx: rgba(121, 20, 28, 1);
$color_nugget_approx: rgba(191, 160, 29, 1);
$color_orange_roughy_approx: rgba(187, 92, 25, 1);
$color_fiery_orange_approx: rgba(169, 83, 23, 1);
$color_forest_green_approx: rgba(53, 157, 43, 1);
$color_minsk_approx: rgba(77, 58, 125, 1);
$color_jacarta_approx: rgba(60, 45, 97, 1);
$color_martinique_approx: rgba(51, 39, 83, 1);
$black_15: rgba(0, 0, 0, 0.15);
$black_17.5: rgba(0, 0, 0, 0.175);
$mercury: rgba(229, 229, 229, 1);
$color_java_approx: rgba(21, 181, 193, 1);
$white_10: rgba(255, 255, 255, 0.1);
$color_old_brick_approx: rgba(145, 24, 33, 1);
$color_cloud_approx: rgba(196, 196, 196, 1);
$color_port_gore_approx: rgba(44, 39, 83, 1);
$color_geebung_approx: rgba(213, 149, 33, 1);
$color_marigold_approx: rgba(191, 133, 29, 1);
$color_rust_approx: rgba(187, 65, 25, 1);
$black_10: rgba(0, 0, 0, 0.1);
$white_15: rgba(255, 255, 255, 0.15);
$color_charlotte_approx: rgba(172, 241, 246, 1);
$black_5: rgba(0, 0, 0, 0.05);
$color_deep_sea_green_approx: rgba(10, 86, 92, 1);
$black_20: rgba(0, 0, 0, 0.2);
$black_90: rgba(0, 0, 0, 0.9);
$color_black_haze_approx: rgba(247, 247, 247, 1);
$color_cararra_approx: rgba(235, 235, 235, 1);
$black_25: rgba(0, 0, 0, 0.25);
$black_60: rgba(0, 0, 0, 0.6);
$black_0.01: rgba(0, 0, 0, 0.0001);
$color_wewak_approx: rgba(240, 166, 172, 1);
$color_feijoa_approx: rgba(147, 224, 139, 1);
$color_porsche_approx: rgba(237, 167, 118, 1);
$color_golden_sand_approx: rgba(236, 215, 127, 1);
$color_lavender_gray_approx: rgba(184, 171, 216, 1);